<div (click)="click()">click</div>
<div (click)="click2()">click</div>
<div class="example-viewport">
  <div class="wrapper">
    <cdk-virtual-scroll-viewport [itemSize]="18 * 7">
      <ng-container *ngIf="items.length === 0">
        <div *cdkVirtualFor="let item of [5];" cdkVirtualForTemplateCacheSize="0">
          {{item}}
        </div>
      </ng-container>

      <ng-container *ngIf="items.length !== 0">
        <div *cdkVirtualFor="let item of items;" cdkVirtualForTemplateCacheSize="0">
          {{item}}
        </div>
      </ng-container>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
