.example-viewport {
  display: flex;
  max-height: 200px;
  width: 200px;
  border: 1px solid black;
}

.example-item-detail {
  height: 20px;
}

.example-alternate {
  background: rgba(127, 127, 127, 0.3);
}

.wrapper {
  flex: 1;
}

cdk-virtual-scroll-viewport {
  width: 100%;
  height: 100%;
  contain: none;
}
